## Variations in Merging FEMA data set and QWI data set

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
fema = pd.read_csv("https://www.dropbox.com/s/kbm13534z7sef5c/clean_fema_data?dl=1")
qwi = pd.read_csv("https://www.dropbox.com/s/nr6jxc4f6ux147n/master_qwi_2003_2018.csv?dl=1")
# ndr = natural disaster report
ndr = pd.read_csv("../../project4/dsi_project4/natural_disaster_2008_2017.csv")

In [3]:
fema.head()

,Unnamed: 0,Disaster Number,IH Program Declared,IA Program Declared,PA Program Declared,HM Program Declared,State,Declaration Date,Disaster Type,Incident Type,Title,Incident Begin Date,Incident End Date,Place Code,Declared County/Area,Declaration Request Number,Incident Duration Days,time
0,0,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,21344.0,Danville,18134.0,7 days 00:00:00.000000000,2018Q4
1,1,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,30208.0,Galax,18134.0,7 days 00:00:00.000000000,2018Q4
2,2,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99007.0,Amelia (County),18134.0,7 days 00:00:00.000000000,2018Q4
3,3,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99011.0,Appomattox (County),18134.0,7 days 00:00:00.000000000,2018Q4
4,4,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99025.0,Brunswick (County),18134.0,7 days 00:00:00.000000000,2018Q4

In [4]:
ndr.head()

,ISO3,Name,Year,Start Date,Event Name,Hazard Category,Hazard Type,New Displacements
0,AFG,Afghanistan,2008,2008-04-17,NaN,Geophysical,Earthquake,3250.0
1,AFG,Afghanistan,2008,2008-08-01,NaN,Weather related,Flood,180.0
2,AFG,Afghanistan,2008,2008-01-01,NaN,Weather related,Extreme temperature,NaN
3,AFG,Afghanistan,2009,2009-01-01,NaN,Weather related,Wet mass movement,NaN
4,AFG,Afghanistan,2009,2009-01-01,NaN,Weather related,Flood,25185.0

In [5]:
ndr= ndr.loc[ndr["ISO3"] == "USA"]

In [6]:
ndr.head()

,ISO3,Name,Year,Start Date,Event Name,Hazard Category,Hazard Type,New Displacements
4337,USA,United States,2008,2008-06-01,NaN,Weather related,Flood,11000.0
4338,USA,United States,2008,2008-04-01,NaN,Weather related,Storm,38000.0
4339,USA,United States,2008,2008-11-13,NaN,Weather related,Wildfire,50000.0
4340,USA,United States,2008,2008-06-20,NaN,Weather related,Wildfire,300.0
4341,USA,United States,2008,2008-12-26,NaN,Weather related,Flood,473.0

In [7]:
ndr.isnull().sum()

ISO3                  0
Name                  0
Year                  0
Start Date            0
Event Name           61
Hazard Category       1
Hazard Type           1
New Displacements    36
dtype: int64

In [8]:
ndr["Year"].value_counts()

2017    67
2015    47
2014    44
2016    43
2013    24
2011    20
2012    18
2010    11
2009    11
2008     8
Name: Year, dtype: int64

In [9]:
# dropping unnamed column 
fema.drop(columns="Unnamed: 0", inplace=True)

In [10]:
qwi.drop(columns="Unnamed: 0", inplace=True)

In [11]:
fema.head()

,Disaster Number,IH Program Declared,IA Program Declared,PA Program Declared,HM Program Declared,State,Declaration Date,Disaster Type,Incident Type,Title,Incident Begin Date,Incident End Date,Place Code,Declared County/Area,Declaration Request Number,Incident Duration Days,time
0,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,21344.0,Danville,18134.0,7 days 00:00:00.000000000,2018Q4
1,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,30208.0,Galax,18134.0,7 days 00:00:00.000000000,2018Q4
2,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99007.0,Amelia (County),18134.0,7 days 00:00:00.000000000,2018Q4
3,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99011.0,Appomattox (County),18134.0,7 days 00:00:00.000000000,2018Q4
4,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99025.0,Brunswick (County),18134.0,7 days 00:00:00.000000000,2018Q4

In [12]:
fema.head()

,Disaster Number,IH Program Declared,IA Program Declared,PA Program Declared,HM Program Declared,State,Declaration Date,Disaster Type,Incident Type,Title,Incident Begin Date,Incident End Date,Place Code,Declared County/Area,Declaration Request Number,Incident Duration Days,time
0,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,21344.0,Danville,18134.0,7 days 00:00:00.000000000,2018Q4
1,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,30208.0,Galax,18134.0,7 days 00:00:00.000000000,2018Q4
2,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99007.0,Amelia (County),18134.0,7 days 00:00:00.000000000,2018Q4
3,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99011.0,Appomattox (County),18134.0,7 days 00:00:00.000000000,2018Q4
4,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99025.0,Brunswick (County),18134.0,7 days 00:00:00.000000000,2018Q4

In [13]:
fema["Incident Type"].value_counts()

Severe Storm(s)     16087
Hurricane           10104
Flood                9598
Snow                 3658
Fire                 2664
Severe Ice Storm     1990
Tornado              1417
Drought              1289
Coastal Storm         471
Freezing              301
Other                 289
Typhoon               122
Earthquake            105
Volcano                50
Fishing Losses         42
Mud/Landslide          31
Tsunami                 9
Chemical                9
Toxic Substances        7
Human Cause             6
Dam/Levee Break         5
Terrorist               5
Name: Incident Type, dtype: int64

In [14]:
fema.dtypes

Disaster Number               float64
IH Program Declared            object
IA Program Declared            object
PA Program Declared            object
HM Program Declared            object
State                          object
Declaration Date               object
Disaster Type                  object
Incident Type                  object
Title                          object
Incident Begin Date            object
Incident End Date              object
Place Code                    float64
Declared County/Area           object
Declaration Request Number    float64
Incident Duration Days         object
time                           object
dtype: object

In [15]:
qwi.head()

,EarnBeg,EarnHirAS,EarnHirNS,EarnS,EarnSepS,Emp,EmpEnd,EmpS,EmpSpv,EmpTotal,...,HirAEndReplr,HirAs,Payroll,Unnamed: 0.1,county,county_codes,county_name,state,state_abv,time
0,1744.0,NaN,NaN,1744.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,5370,NaN,13,2:13,Aleutians East Borough,2,AK,2003-Q1
1,14499.0,NaN,NaN,16262.0,4647.0,14.0,11.0,11.0,13.0,14.0,...,0.000,0.0,570042,NaN,16,2:16,Aleutians West Census Area,2,AK,2003-Q1
2,1863.0,1455.0,1672.0,2134.0,1966.0,133.0,139.0,103.0,109.0,180.0,...,0.154,12.0,875806,NaN,20,2:20,Anchorage Municipality,2,AK,2003-Q1
3,4917.0,8740.0,NaN,8740.0,8740.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,89678,NaN,50,2:50,Bethel Census Area,2,AK,2003-Q1
4,3234.0,NaN,NaN,3234.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,9955,NaN,70,2:70,Dillingham Census Area,2,AK,2003-Q1

In [16]:
fema.shape

(48259, 17)

In [17]:
qwi.shape

(189372, 30)

In [18]:
qwi["county_name"].value_counts()

Washington County           1807
Jefferson County            1507
Franklin County             1419
Lincoln County              1386
Jackson County              1381
Madison County              1145
Montgomery County           1084
Clay County                 1082
Marion County               1025
Monroe County               1023
Union County                1021
Wayne County                 962
Grant County                 843
Greene County                842
Warren County                841
Carroll County               783
Johnson County               725
Polk County                  723
Lee County                   723
Adams County                 723
Clark County                 721
Douglas County               720
Marshall County              720
Lake County                  718
Calhoun County               664
Crawford County              663
Fayette County               663
Morgan County                662
Scott County                 662
Lawrence County              658
                            ...
Day County                    57
Sanborn County                57
Faulk County                  57
Miner County                  57
Stanley County                57
Edmunds County                57
Coconino County               56
Mohave County                 56
La Paz County                 56
Pima County                   56
Cochise County                56
Apache County                 56
Maricopa County               56
Pinal County                  56
Navajo County                 56
Gila County                   56
Yavapai County                56
Greenlee County               56
Skagway Municipality          54
Northwest Arctic Borough      54
North Slope Borough           54
Denali Borough                54
Nome Census Area              54
District of Columbia          51
Nantucket County              33
Norfolk County                33
Barnstable County             33
Berkshire County              33
Hampden County                33
Dukes County                  33
Name: county_name, Length: 1875, dtype: int64

In [19]:
qwi.isnull().sum()

EarnBeg            197
EarnHirAS         3716
EarnHirNS         4372
EarnS             3399
EarnSepS          6735
Emp                358
EmpEnd            3393
EmpS              3480
EmpSpv             446
EmpTotal           305
FrmJbC            3549
FrmJbCS           3615
FrmJbGn           3549
FrmJbGnS          3615
FrmJbLs           3549
FrmJbLsS          3615
HirA               360
HirAEnd           3519
HirAEndR          3589
HirAEndRepl       3554
HirAEndReplr      3592
HirAs             3687
Payroll              0
Unnamed: 0.1    170232
county               0
county_codes         0
county_name          0
state                0
state_abv            0
time                 0
dtype: int64

In [20]:
# converting time column to date time and align it as axis
fema["time"] = pd.to_datetime(fema['Incident Begin Date'])
qwi["time"] = pd.to_datetime(qwi['time'])

In [21]:
fema.dtypes

Disaster Number                      float64
IH Program Declared                   object
IA Program Declared                   object
PA Program Declared                   object
HM Program Declared                   object
State                                 object
Declaration Date                      object
Disaster Type                         object
Incident Type                         object
Title                                 object
Incident Begin Date                   object
Incident End Date                     object
Place Code                           float64
Declared County/Area                  object
Declaration Request Number           float64
Incident Duration Days                object
time                          datetime64[ns]
dtype: object

In [22]:
qwi.dtypes

EarnBeg                float64
EarnHirAS              float64
EarnHirNS              float64
EarnS                  float64
EarnSepS               float64
Emp                    float64
EmpEnd                 float64
EmpS                   float64
EmpSpv                 float64
EmpTotal               float64
FrmJbC                 float64
FrmJbCS                float64
FrmJbGn                float64
FrmJbGnS               float64
FrmJbLs                float64
FrmJbLsS               float64
HirA                   float64
HirAEnd                float64
HirAEndR               float64
HirAEndRepl            float64
HirAEndReplr           float64
HirAs                  float64
Payroll                  int64
Unnamed: 0.1           float64
county                   int64
county_codes            object
county_name             object
state                    int64
state_abv               object
time            datetime64[ns]
dtype: object

In [23]:
mask = (fema['time'] > '2003-1-1')

In [24]:
fema.loc[mask]

,Disaster Number,IH Program Declared,IA Program Declared,PA Program Declared,HM Program Declared,State,Declaration Date,Disaster Type,Incident Type,Title,Incident Begin Date,Incident End Date,Place Code,Declared County/Area,Declaration Request Number,Incident Duration Days,time
0,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,21344.0,Danville,18134.0,7 days 00:00:00.000000000,2018-10-09
1,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,30208.0,Galax,18134.0,7 days 00:00:00.000000000,2018-10-09
2,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99007.0,Amelia (County),18134.0,7 days 00:00:00.000000000,2018-10-09
3,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99011.0,Appomattox (County),18134.0,7 days 00:00:00.000000000,2018-10-09
4,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99025.0,Brunswick (County),18134.0,7 days 00:00:00.000000000,2018-10-09
5,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99031.0,Campbell (County),18134.0,7 days 00:00:00.000000000,2018-10-09
6,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99037.0,Charlotte (County),18134.0,7 days 00:00:00.000000000,2018-10-09
7,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99041.0,Chesterfield (County),18134.0,7 days 00:00:00.000000000,2018-10-09
8,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99049.0,Cumberland (County),18134.0,7 days 00:00:00.000000000,2018-10-09
9,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99053.0,Dinwiddie (County),18134.0,7 days 00:00:00.000000000,2018-10-09
10,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99057.0,Essex (County),18134.0,7 days 00:00:00.000000000,2018-10-09
11,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99063.0,Floyd (County),18134.0,7 days 00:00:00.000000000,2018-10-09
12,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99065.0,Fluvanna (County),18134.0,7 days 00:00:00.000000000,2018-10-09
13,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99067.0,Franklin (County),18134.0,7 days 00:00:00.000000000,2018-10-09
14,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99083.0,Halifax (County),18134.0,7 days 00:00:00.000000000,2018-10-09
15,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99097.0,King and Queen (County),18134.0,7 days 00:00:00.000000000,2018-10-09
16,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99111.0,Lunenburg (County),18134.0,7 days 00:00:00.000000000,2018-10-09
17,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99121.0,Montgomery (County),18134.0,7 days 00:00:00.000000000,2018-10-09
18,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99127.0,New Kent (County),18134.0,7 days 00:00:00.000000000,2018-10-09
19,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99133.0,Northumberland (County),18134.0,7 days 00:00:00.000000000,2018-10-09
20,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99135.0,Nottoway (County),18134.0,7 days 00:00:00.000000000,2018-10-09
21,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99143.0,Pittsylvania (County),18134.0,7 days 00:00:00.000000000,2018-10-09
22,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99145.0,Powhatan (County),18134.0,7 days 00:00:00.000000000,2018-10-09
23,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99147.0,Prince Edward (County),18134.0,7 days 00:00:00.000000000,2018-10-09
24,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99157.0,Rappahannock (County),18134.0,7 days 00:00:00.000000000,2018-10-09
25,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99159.0,Richmond (County),18134.0,7 days 00:00:00.000000000,2018-10-09
26,4411.0,No,No,Yes,Yes,VA,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99161.0,Roanoke (County),18134.0,7 days 00:00:00.000000000,2018-10-09
27,4410.0,No,No,Yes,Yes,CT,12/5/2018,DR,Severe Storm(s),SEVERE STORMS AND FLOODING,2018-09-25,2018-09-26,99007.0,"Middlesex (County)(in (P)MSA 3280,5020,5480)",18131.0,1 days 00:00:00.000000000,2018-09-25
28,4410.0,No,No,Yes,Yes,CT,12/5/2018,DR,Severe Storm(s),SEVERE STORMS AND FLOODING,2018-09-25,2018-09-26,99011.0,"New London (County)(in (P)MSA 3280,5520)",18131.0,1 days 00:00:00.000000000,2018-09-25
29,3410.0,No,No,Yes,No,AK,11/30/2018,EM,Earthquake,EARTHQUAKE,2018-11-30,2018-11-30,99020.0,Anchorage (Borough),18133.0,0 days 00:00:00.000000000,2018-11-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25679,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99231.0,Hunt (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25680,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99239.0,Jackson (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25681,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99245.0,Jefferson (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25682,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99251.0,Johnson (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25683,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99257.0,Kaufman (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25684,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99289.0,Leon (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25685,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99293.0,Limestone (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25686,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99309.0,McLennan (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25687,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99331.0,Milam (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25688,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99339.0,Montgomery (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25689,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99347.0,Nacogdoches (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25690,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99349.0,Navarro (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25691,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99361.0,Orange (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25692,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99365.0,Panola (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25693,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99367.0,Parker (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25694,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99373.0,Polk (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25695,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99397.0,Rockwall (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25696,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99401.0,Rusk (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25697,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99403.0,Sabine (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25698,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99405.0,San Augustine (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25699,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99419.0,Shelby (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25700,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99423.0,Smith (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25701,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99425.0,Somervell (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25702,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99439.0,Tarrant (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25703,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99455.0,Trinity (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25704,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99459.0,Upshur (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25705,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99471.0,Walker (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25706,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99491.0,Williamson (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25707,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99499.0,Wood (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25714,2466.0,No,No,Yes,No,CA,1/7/2003,FM,Fire,CA - WILDFIRE (PACIFIC FIRE) - 01-06-2003,2003-01-06,2003-01-10,99037.0,Los Angeles (County),3004.0,4 days 00:00:00.000000000,2003-01-06

In [25]:
fema = fema.loc[mask]

In [26]:
fema["time"].value_counts(ascending=True)

2006-08-14       1
2003-07-17       1
2009-05-18       1
2008-03-03       1
2015-05-13       1
2009-05-05       1
2008-06-25       1
2007-08-12       1
2004-06-18       1
2005-11-18       1
2009-08-29       1
2011-08-04       1
2008-06-10       1
2005-04-17       1
2004-06-05       1
2013-05-25       1
2012-09-11       1
2010-09-09       1
2003-09-02       1
2007-05-31       1
2006-03-01       1
2003-01-06       1
2004-09-28       1
2018-05-05       1
2007-06-24       1
2011-03-07       1
2009-09-22       1
2006-05-15       1
2011-07-11       1
2007-09-20       1
              ...
2008-08-27     125
2011-04-06     126
2010-01-28     127
2011-08-21     134
2017-09-04     141
2008-09-07     143
2004-09-03     150
2017-09-17     156
2007-01-12     164
2005-08-27     170
2015-05-04     172
2012-08-26     180
2004-09-13     185
2003-09-18     187
2014-02-10     204
2007-12-06     207
2003-05-04     208
2007-12-08     218
2011-08-26     234
2008-03-14     238
2016-10-04     239
2012-06-29     309
2005-09-23     318
2017-09-07     318
2005-09-20     319
2011-01-31     346
2009-01-26     357
2012-10-26     367
2005-11-27     419
2005-08-29    2764
Name: time, Length: 1052, dtype: int64

In [27]:
fema["State "].value_counts()

TX    2368
MO    1557
OK    1268
KY    1131
GA    1068
KS     947
VA     879
FL     836
LA     824
IA     779
NE     746
AL     723
IN     689
NY     669
AR     663
WV     645
NC     629
OH     614
PR     605
MS     595
PA     583
TN     533
SC     497
ND     460
SD     460
CA     453
MN     437
IL     426
WA     298
NJ     264
WI     258
MD     232
MA     224
MT     203
CO     201
NM     187
OR     183
NH     172
ME     171
MI     162
VT     145
CT     134
NV     111
AZ     105
ID     102
UT      81
AK      80
RI      53
HI      44
WY      37
AS      30
VI      29
DE      27
MP      26
DC      13
FM       4
GU       4
Name: State , dtype: int64

In [28]:
fema_tx = fema.loc[fema["State "] == "TX"]

In [29]:
fema_tx

,Disaster Number,IH Program Declared,IA Program Declared,PA Program Declared,HM Program Declared,State,Declaration Date,Disaster Type,Incident Type,Title,Incident Begin Date,Incident End Date,Place Code,Declared County/Area,Declaration Request Number,Incident Duration Days,time
487,4377.0,Yes,No,No,Yes,TX,7/6/2018,DR,Flood,SEVERE STORMS AND FLOODING,2018-06-19,2018-07-13,99061.0,Cameron (County),18049.0,24 days 00:00:00.000000000,2018-06-19
488,4377.0,Yes,No,No,Yes,TX,7/6/2018,DR,Flood,SEVERE STORMS AND FLOODING,2018-06-19,2018-07-13,99215.0,Hidalgo (County),18049.0,24 days 00:00:00.000000000,2018-06-19
489,4377.0,Yes,No,No,Yes,TX,7/6/2018,DR,Flood,SEVERE STORMS AND FLOODING,2018-06-19,2018-07-13,99249.0,Jim Wells (County),18049.0,24 days 00:00:00.000000000,2018-06-19
1798,4332.0,Yes,No,Yes,Yes,TX,8/25/2017,DR,Hurricane,HURRICANE HARVEY,2017-08-23,2017-09-15,99007.0,Aransas (County),17083.0,23 days 00:00:00.000000000,2017-08-23
1799,4332.0,Yes,No,Yes,Yes,TX,8/25/2017,DR,Hurricane,HURRICANE HARVEY,2017-08-23,2017-09-15,99015.0,Austin (County),17083.0,23 days 00:00:00.000000000,2017-08-23
1800,4332.0,Yes,No,Yes,Yes,TX,8/25/2017,DR,Hurricane,HURRICANE HARVEY,2017-08-23,2017-09-15,99021.0,Bastrop (County),17083.0,23 days 00:00:00.000000000,2017-08-23
1801,4332.0,Yes,No,Yes,Yes,TX,8/25/2017,DR,Hurricane,HURRICANE HARVEY,2017-08-23,2017-09-15,99025.0,Bee (County),17083.0,23 days 00:00:00.000000000,2017-08-23
1802,4332.0,Yes,No,Yes,Yes,TX,8/25/2017,DR,Hurricane,HURRICANE HARVEY,2017-08-23,2017-09-15,99029.0,Bexar (County),17083.0,23 days 00:00:00.000000000,2017-08-23
1803,4332.0,Yes,No,Yes,Yes,TX,8/25/2017,DR,Hurricane,HURRICANE HARVEY,2017-08-23,2017-09-15,99039.0,Brazoria (County),17083.0,23 days 00:00:00.000000000,2017-08-23
1804,4332.0,Yes,No,Yes,Yes,TX,8/25/2017,DR,Hurricane,HURRICANE HARVEY,2017-08-23,2017-09-15,99051.0,Burleson (County),17083.0,23 days 00:00:00.000000000,2017-08-23
1805,4332.0,Yes,No,Yes,Yes,TX,8/25/2017,DR,Hurricane,HURRICANE HARVEY,2017-08-23,2017-09-15,99055.0,Caldwell (County),17083.0,23 days 00:00:00.000000000,2017-08-23
1806,4332.0,Yes,No,Yes,Yes,TX,8/25/2017,DR,Hurricane,HURRICANE HARVEY,2017-08-23,2017-09-15,99057.0,Calhoun (County),17083.0,23 days 00:00:00.000000000,2017-08-23
1807,4332.0,Yes,No,Yes,Yes,TX,8/25/2017,DR,Hurricane,HURRICANE HARVEY,2017-08-23,2017-09-15,99071.0,Chambers (County),17083.0,23 days 00:00:00.000000000,2017-08-23
1808,4332.0,Yes,No,Yes,Yes,TX,8/25/2017,DR,Hurricane,HURRICANE HARVEY,2017-08-23,2017-09-15,99089.0,Colorado (County),17083.0,23 days 00:00:00.000000000,2017-08-23
1809,4332.0,Yes,No,Yes,Yes,TX,8/25/2017,DR,Hurricane,HURRICANE HARVEY,2017-08-23,2017-09-15,99091.0,Comal (County),17083.0,23 days 00:00:00.000000000,2017-08-23
1810,4332.0,Yes,No,Yes,Yes,TX,8/25/2017,DR,Hurricane,HURRICANE HARVEY,2017-08-23,2017-09-15,99113.0,Dallas (County),17083.0,23 days 00:00:00.000000000,2017-08-23
1811,4332.0,Yes,No,Yes,Yes,TX,8/25/2017,DR,Hurricane,HURRICANE HARVEY,2017-08-23,2017-09-15,99123.0,DeWitt (County),17083.0,23 days 00:00:00.000000000,2017-08-23
1812,4332.0,Yes,No,Yes,Yes,TX,8/25/2017,DR,Hurricane,HURRICANE HARVEY,2017-08-23,2017-09-15,99149.0,Fayette (County),17083.0,23 days 00:00:00.000000000,2017-08-23
1813,4332.0,Yes,No,Yes,Yes,TX,8/25/2017,DR,Hurricane,HURRICANE HARVEY,2017-08-23,2017-09-15,99157.0,Fort Bend (County),17083.0,23 days 00:00:00.000000000,2017-08-23
1814,4332.0,Yes,No,Yes,Yes,TX,8/25/2017,DR,Hurricane,HURRICANE HARVEY,2017-08-23,2017-09-15,99167.0,Galveston (County),17083.0,23 days 00:00:00.000000000,2017-08-23
1815,4332.0,Yes,No,Yes,Yes,TX,8/25/2017,DR,Hurricane,HURRICANE HARVEY,2017-08-23,2017-09-15,99175.0,Goliad (County),17083.0,23 days 00:00:00.000000000,2017-08-23
1816,4332.0,Yes,No,Yes,Yes,TX,8/25/2017,DR,Hurricane,HURRICANE HARVEY,2017-08-23,2017-09-15,99177.0,Gonzales (County),17083.0,23 days 00:00:00.000000000,2017-08-23
1817,4332.0,Yes,No,Yes,Yes,TX,8/25/2017,DR,Hurricane,HURRICANE HARVEY,2017-08-23,2017-09-15,99185.0,Grimes (County),17083.0,23 days 00:00:00.000000000,2017-08-23
1818,4332.0,Yes,No,Yes,Yes,TX,8/25/2017,DR,Hurricane,HURRICANE HARVEY,2017-08-23,2017-09-15,99187.0,Guadalupe (County),17083.0,23 days 00:00:00.000000000,2017-08-23
1819,4332.0,Yes,No,Yes,Yes,TX,8/25/2017,DR,Hurricane,HURRICANE HARVEY,2017-08-23,2017-09-15,99199.0,Hardin (County),17083.0,23 days 00:00:00.000000000,2017-08-23
1820,4332.0,Yes,No,Yes,Yes,TX,8/25/2017,DR,Hurricane,HURRICANE HARVEY,2017-08-23,2017-09-15,99201.0,Harris (County),17083.0,23 days 00:00:00.000000000,2017-08-23
1821,4332.0,Yes,No,Yes,Yes,TX,8/25/2017,DR,Hurricane,HURRICANE HARVEY,2017-08-23,2017-09-15,99239.0,Jackson (County),17083.0,23 days 00:00:00.000000000,2017-08-23
1822,4332.0,Yes,No,Yes,Yes,TX,8/25/2017,DR,Hurricane,HURRICANE HARVEY,2017-08-23,2017-09-15,99241.0,Jasper (County),17083.0,23 days 00:00:00.000000000,2017-08-23
1823,4332.0,Yes,No,Yes,Yes,TX,8/25/2017,DR,Hurricane,HURRICANE HARVEY,2017-08-23,2017-09-15,99245.0,Jefferson (County),17083.0,23 days 00:00:00.000000000,2017-08-23
1824,4332.0,Yes,No,Yes,Yes,TX,8/25/2017,DR,Hurricane,HURRICANE HARVEY,2017-08-23,2017-09-15,99249.0,Jim Wells (County),17083.0,23 days 00:00:00.000000000,2017-08-23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25678,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99225.0,Houston (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25679,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99231.0,Hunt (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25680,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99239.0,Jackson (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25681,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99245.0,Jefferson (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25682,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99251.0,Johnson (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25683,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99257.0,Kaufman (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25684,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99289.0,Leon (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25685,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99293.0,Limestone (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25686,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99309.0,McLennan (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25687,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99331.0,Milam (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25688,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99339.0,Montgomery (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25689,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99347.0,Nacogdoches (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25690,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99349.0,Navarro (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25691,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99361.0,Orange (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25692,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99365.0,Panola (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25693,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99367.0,Parker (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25694,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99373.0,Polk (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25695,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99397.0,Rockwall (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25696,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99401.0,Rusk (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25697,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99403.0,Sabine (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25698,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99405.0,San Augustine (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25699,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99419.0,Shelby (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25700,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99423.0,Smith (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25701,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99425.0,Somervell (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25702,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99439.0,Tarrant (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25703,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99455.0,Trinity (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25704,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99459.0,Upshur (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25705,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99471.0,Walker (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25706,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99491.0,Williamson (County),3007.0,0 days 00:00:00.000000000,2003-02-01
25707,3171.0,No,No,Yes,No,TX,2/1/2003,EM,Other,LOSS OF THE SPACE SHUTTLE COLUMBIA,2003-02-01,2003-02-01,99499.0,Wood (County),3007.0,0 days 00:00:00.000000000,2003-02-01

In [30]:
fema_fl = fema.loc[fema["State "] == "FL"]

In [31]:
fema_fl.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 836 entries, 212 to 25176
Data columns (total 17 columns):
Disaster Number               836 non-null float64
IH Program Declared           836 non-null object
IA Program Declared           836 non-null object
PA Program Declared           836 non-null object
HM Program Declared           836 non-null object
State                         836 non-null object
Declaration Date              836 non-null object
Disaster Type                 836 non-null object
Incident Type                 836 non-null object
Title                         836 non-null object
Incident Begin Date           836 non-null object
Incident End Date             812 non-null object
Place Code                    836 non-null float64
Declared County/Area          836 non-null object
Declaration Request Number    836 non-null float64
Incident Duration Days        812 non-null object
time                          836 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(13)
memory usage: 117.6+ KB

In [32]:
qwi.head()

,EarnBeg,EarnHirAS,EarnHirNS,EarnS,EarnSepS,Emp,EmpEnd,EmpS,EmpSpv,EmpTotal,...,HirAEndReplr,HirAs,Payroll,Unnamed: 0.1,county,county_codes,county_name,state,state_abv,time
0,1744.0,NaN,NaN,1744.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,5370,NaN,13,2:13,Aleutians East Borough,2,AK,2003-01-01
1,14499.0,NaN,NaN,16262.0,4647.0,14.0,11.0,11.0,13.0,14.0,...,0.000,0.0,570042,NaN,16,2:16,Aleutians West Census Area,2,AK,2003-01-01
2,1863.0,1455.0,1672.0,2134.0,1966.0,133.0,139.0,103.0,109.0,180.0,...,0.154,12.0,875806,NaN,20,2:20,Anchorage Municipality,2,AK,2003-01-01
3,4917.0,8740.0,NaN,8740.0,8740.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,89678,NaN,50,2:50,Bethel Census Area,2,AK,2003-01-01
4,3234.0,NaN,NaN,3234.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,9955,NaN,70,2:70,Dillingham Census Area,2,AK,2003-01-01

In [33]:
qwi_tx = qwi.loc[qwi["state_abv"] == "TX"]
qwi_fl = qwi.loc[qwi["state_abv"] == "FL"]

In [34]:
qwi_tx["county_name"].value_counts()

Anderson County        120
Upton County            60
Grayson County          60
Orange County           60
Jeff Davis County       60
McMullen County         60
Freestone County        60
Potter County           60
Hockley County          60
Caldwell County         60
Navarro County          60
Mason County            60
Lampasas County         60
Bailey County           60
Nacogdoches County      60
Walker County           60
Liberty County          60
Hardeman County         60
Hamilton County         60
Karnes County           60
Colorado County         60
Lavaca County           60
Culberson County        60
Washington County       60
Carson County           60
Marion County           60
Rockwall County         60
San Saba County         60
Ward County             60
Young County            60
                      ...
Swisher County          60
Hopkins County          60
Lubbock County          60
Gregg County            60
Castro County           60
Shackelford County      60
Shelby County           60
Fayette County          60
San Patricio County     60
Lamb County             60
Bandera County          60
Sterling County         60
Zavala County           60
Camp County             60
McLennan County         60
Refugio County          60
Ellis County            60
Sherman County          60
King County             60
Stephens County         60
Hood County             60
Calhoun County          60
Williamson County       60
Kaufman County          60
Houston County          60
Floyd County            60
Tyler County            60
Haskell County          60
Parker County           60
Gonzales County         60
Name: county_name, Length: 254, dtype: int64

In [35]:
import re

In [36]:
fema_tx["Declared County/Area"]=fema_tx["Declared County/Area"].str.replace(r"[()]","")

C:\Users\Trisarah\Anaconda3\envs\dsi\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [37]:
fema_tx.head()

,Disaster Number,IH Program Declared,IA Program Declared,PA Program Declared,HM Program Declared,State,Declaration Date,Disaster Type,Incident Type,Title,Incident Begin Date,Incident End Date,Place Code,Declared County/Area,Declaration Request Number,Incident Duration Days,time
487,4377.0,Yes,No,No,Yes,TX,7/6/2018,DR,Flood,SEVERE STORMS AND FLOODING,2018-06-19,2018-07-13,99061.0,Cameron County,18049.0,24 days 00:00:00.000000000,2018-06-19
488,4377.0,Yes,No,No,Yes,TX,7/6/2018,DR,Flood,SEVERE STORMS AND FLOODING,2018-06-19,2018-07-13,99215.0,Hidalgo County,18049.0,24 days 00:00:00.000000000,2018-06-19
489,4377.0,Yes,No,No,Yes,TX,7/6/2018,DR,Flood,SEVERE STORMS AND FLOODING,2018-06-19,2018-07-13,99249.0,Jim Wells County,18049.0,24 days 00:00:00.000000000,2018-06-19
1798,4332.0,Yes,No,Yes,Yes,TX,8/25/2017,DR,Hurricane,HURRICANE HARVEY,2017-08-23,2017-09-15,99007.0,Aransas County,17083.0,23 days 00:00:00.000000000,2017-08-23
1799,4332.0,Yes,No,Yes,Yes,TX,8/25/2017,DR,Hurricane,HURRICANE HARVEY,2017-08-23,2017-09-15,99015.0,Austin County,17083.0,23 days 00:00:00.000000000,2017-08-23

In [38]:
qwi_tx.head()

,EarnBeg,EarnHirAS,EarnHirNS,EarnS,EarnSepS,Emp,EmpEnd,EmpS,EmpSpv,EmpTotal,...,HirAEndReplr,HirAs,Payroll,Unnamed: 0.1,county,county_codes,county_name,state,state_abv,time
174072,2229.0,1563.0,1571.0,2389.0,1597.0,15451.0,15651.0,13807.0,13695.0,18256.0,...,0.073,1190.0,110988481,0.0,1,48:1,Anderson County,48,TX,2003-01-01
174073,2154.0,1630.0,1628.0,2317.0,1692.0,16070.0,16330.0,14182.0,14212.0,19381.0,...,0.085,1232.0,111895672,1.0,1,48:1,Anderson County,48,TX,2003-04-01
174074,2183.0,1641.0,1627.0,2388.0,1749.0,15813.0,15805.0,13666.0,13751.0,19084.0,...,0.095,1228.0,112212604,2.0,1,48:1,Anderson County,48,TX,2003-07-01
174075,2285.0,1686.0,1700.0,2459.0,1669.0,16034.0,16046.0,14135.0,13902.0,19000.0,...,0.079,1439.0,118975251,3.0,1,48:1,Anderson County,48,TX,2003-10-01
174076,2206.0,1556.0,1541.0,2361.0,1836.0,15648.0,15851.0,13912.0,13854.0,18473.0,...,0.081,1202.0,112024790,4.0,1,48:1,Anderson County,48,TX,2004-01-01

In [39]:
fema_tx.head()

,Disaster Number,IH Program Declared,IA Program Declared,PA Program Declared,HM Program Declared,State,Declaration Date,Disaster Type,Incident Type,Title,Incident Begin Date,Incident End Date,Place Code,Declared County/Area,Declaration Request Number,Incident Duration Days,time
487,4377.0,Yes,No,No,Yes,TX,7/6/2018,DR,Flood,SEVERE STORMS AND FLOODING,2018-06-19,2018-07-13,99061.0,Cameron County,18049.0,24 days 00:00:00.000000000,2018-06-19
488,4377.0,Yes,No,No,Yes,TX,7/6/2018,DR,Flood,SEVERE STORMS AND FLOODING,2018-06-19,2018-07-13,99215.0,Hidalgo County,18049.0,24 days 00:00:00.000000000,2018-06-19
489,4377.0,Yes,No,No,Yes,TX,7/6/2018,DR,Flood,SEVERE STORMS AND FLOODING,2018-06-19,2018-07-13,99249.0,Jim Wells County,18049.0,24 days 00:00:00.000000000,2018-06-19
1798,4332.0,Yes,No,Yes,Yes,TX,8/25/2017,DR,Hurricane,HURRICANE HARVEY,2017-08-23,2017-09-15,99007.0,Aransas County,17083.0,23 days 00:00:00.000000000,2017-08-23
1799,4332.0,Yes,No,Yes,Yes,TX,8/25/2017,DR,Hurricane,HURRICANE HARVEY,2017-08-23,2017-09-15,99015.0,Austin County,17083.0,23 days 00:00:00.000000000,2017-08-23

In [40]:
qwi_tx.dtypes

EarnBeg                float64
EarnHirAS              float64
EarnHirNS              float64
EarnS                  float64
EarnSepS               float64
Emp                    float64
EmpEnd                 float64
EmpS                   float64
EmpSpv                 float64
EmpTotal               float64
FrmJbC                 float64
FrmJbCS                float64
FrmJbGn                float64
FrmJbGnS               float64
FrmJbLs                float64
FrmJbLsS               float64
HirA                   float64
HirAEnd                float64
HirAEndR               float64
HirAEndRepl            float64
HirAEndReplr           float64
HirAs                  float64
Payroll                  int64
Unnamed: 0.1           float64
county                   int64
county_codes            object
county_name             object
state                    int64
state_abv               object
time            datetime64[ns]
dtype: object

In [41]:
fema_tx.head()

,Disaster Number,IH Program Declared,IA Program Declared,PA Program Declared,HM Program Declared,State,Declaration Date,Disaster Type,Incident Type,Title,Incident Begin Date,Incident End Date,Place Code,Declared County/Area,Declaration Request Number,Incident Duration Days,time
487,4377.0,Yes,No,No,Yes,TX,7/6/2018,DR,Flood,SEVERE STORMS AND FLOODING,2018-06-19,2018-07-13,99061.0,Cameron County,18049.0,24 days 00:00:00.000000000,2018-06-19
488,4377.0,Yes,No,No,Yes,TX,7/6/2018,DR,Flood,SEVERE STORMS AND FLOODING,2018-06-19,2018-07-13,99215.0,Hidalgo County,18049.0,24 days 00:00:00.000000000,2018-06-19
489,4377.0,Yes,No,No,Yes,TX,7/6/2018,DR,Flood,SEVERE STORMS AND FLOODING,2018-06-19,2018-07-13,99249.0,Jim Wells County,18049.0,24 days 00:00:00.000000000,2018-06-19
1798,4332.0,Yes,No,Yes,Yes,TX,8/25/2017,DR,Hurricane,HURRICANE HARVEY,2017-08-23,2017-09-15,99007.0,Aransas County,17083.0,23 days 00:00:00.000000000,2017-08-23
1799,4332.0,Yes,No,Yes,Yes,TX,8/25/2017,DR,Hurricane,HURRICANE HARVEY,2017-08-23,2017-09-15,99015.0,Austin County,17083.0,23 days 00:00:00.000000000,2017-08-23

In [47]:
fema_tx.set_index(pd.to_datetime(fema_tx["time"]), inplace=True)
qwi_tx.set_index(pd.to_datetime(qwi_tx["time"]), inplace=True)

In [49]:
tx_data = pd.merge(fema_tx, qwi_tx, how="outer", left_index=True, right_index=True)

In [51]:
tx_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 17921 entries, 2003-01-01 to 2018-06-19
Data columns (total 47 columns):
Disaster Number               2876 non-null float64
IH Program Declared           2876 non-null object
IA Program Declared           2876 non-null object
PA Program Declared           2876 non-null object
HM Program Declared           2876 non-null object
State                         2876 non-null object
Declaration Date              2876 non-null object
Disaster Type                 2876 non-null object
Incident Type                 2876 non-null object
Title                         2876 non-null object
Incident Begin Date           2876 non-null object
Incident End Date             2337 non-null object
Place Code                    2876 non-null float64
Declared County/Area          2876 non-null object
Declaration Request Number    2876 non-null float64
Incident Duration Days        2337 non-null object
time_x                        2876 non-null datetime64[ns]
EarnBeg                       15555 non-null float64
EarnHirAS                     15296 non-null float64
EarnHirNS                     15294 non-null float64
EarnS                         15300 non-null float64
EarnSepS                      15041 non-null float64
Emp                           15555 non-null float64
EmpEnd                        15300 non-null float64
EmpS                          15300 non-null float64
EmpSpv                        15555 non-null float64
EmpTotal                      15555 non-null float64
FrmJbC                        15300 non-null float64
FrmJbCS                       15300 non-null float64
FrmJbGn                       15300 non-null float64
FrmJbGnS                      15300 non-null float64
FrmJbLs                       15300 non-null float64
FrmJbLsS                      15300 non-null float64
HirA                          15553 non-null float64
HirAEnd                       15300 non-null float64
HirAEndR                      15300 non-null float64
HirAEndRepl                   15300 non-null float64
HirAEndReplr                  15300 non-null float64
HirAs                         15272 non-null float64
Payroll                       15555 non-null float64
Unnamed: 0.1                  15555 non-null float64
county                        15555 non-null float64
county_codes                  15555 non-null object
county_name                   15555 non-null object
state                         15555 non-null float64
state_abv                     15555 non-null object
time_y                        15555 non-null datetime64[ns]
dtypes: datetime64[ns](2), float64(29), object(16)
memory usage: 6.6+ MB

In [43]:
tx_data = fema_tx.merge(qwi_tx, left_index=True, right_index=True)

In [52]:
#fema_pop = pd.read_csv("../../project4/dsi_project4/fema_pop.csv")

In [53]:
fema_pop.head()

,Unnamed: 0,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,...,Disaster Type,Incident Type,Title,Incident Begin Date,Incident End Date,Disaster Close Out Date,Place Code,Declared County/Area,Declaration Request Number,Declared County/Area Cleaned
0,0,50,1,1,Alabama,Autauga,1,0,54571,26569,...,DR,Hurricane,HURRICANE NATE,10/6/2017,10/10/2017,NaN,99001.0,Autauga (County),17138.0,Autauga
1,1,50,1,1,Alabama,Autauga,1,0,54571,26569,...,EM,Hurricane,HURRICANE NATE,10/6/2017,10/10/2017,NaN,99001.0,Autauga (County),17122.0,Autauga
2,2,50,1,1,Alabama,Autauga,1,0,54571,26569,...,EM,Hurricane,HURRICANE IRMA,9/8/2017,9/14/2017,6/11/2018,99001.0,Autauga (County),17104.0,Autauga
3,3,50,1,1,Alabama,Autauga,1,0,54571,26569,...,DR,Severe Storm(s),"SEVERE STORMS, TORNADOES, STRAIGHT-LINE WINDS,...",12/23/2015,12/31/2015,NaN,99001.0,Autauga (County),16003.0,Autauga
4,4,50,1,1,Alabama,Autauga,1,0,54571,26569,...,DR,Severe Storm(s),"SEVERE STORMS, TORNADOES, STRAIGHT-LINE WINDS,...",4/15/2011,5/31/2011,NaN,99001.0,Autauga (County),11081.0,Autauga

In [54]:
fema_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8404840 entries, 0 to 8404839
Data columns (total 99 columns):
Unnamed: 0                      int64
SUMLEV                          int64
STATE                           int64
COUNTY                          int64
STNAME                          object
CTYNAME                         object
YEAR                            int64
AGEGRP                          int64
TOT_POP                         int64
TOT_MALE                        int64
TOT_FEMALE                      int64
WA_MALE                         int64
WA_FEMALE                       int64
BA_MALE                         int64
BA_FEMALE                       int64
IA_MALE                         int64
IA_FEMALE                       int64
AA_MALE                         int64
AA_FEMALE                       int64
NA_MALE                         int64
NA_FEMALE                       int64
TOM_MALE                        int64
TOM_FEMALE                      int64
WAC_MALE                        int64
WAC_FEMALE                      int64
BAC_MALE                        int64
BAC_FEMALE                      int64
IAC_MALE                        int64
IAC_FEMALE                      int64
AAC_MALE                        int64
AAC_FEMALE                      int64
NAC_MALE                        int64
NAC_FEMALE                      int64
NH_MALE                         int64
NH_FEMALE                       int64
NHWA_MALE                       int64
NHWA_FEMALE                     int64
NHBA_MALE                       int64
NHBA_FEMALE                     int64
NHIA_MALE                       int64
NHIA_FEMALE                     int64
NHAA_MALE                       int64
NHAA_FEMALE                     int64
NHNA_MALE                       int64
NHNA_FEMALE                     int64
NHTOM_MALE                      int64
NHTOM_FEMALE                    int64
NHWAC_MALE                      int64
NHWAC_FEMALE                    int64
NHBAC_MALE                      int64
NHBAC_FEMALE                    int64
NHIAC_MALE                      int64
NHIAC_FEMALE                    int64
NHAAC_MALE                      int64
NHAAC_FEMALE                    int64
NHNAC_MALE                      int64
NHNAC_FEMALE                    int64
H_MALE                          int64
H_FEMALE                        int64
HWA_MALE                        int64
HWA_FEMALE                      int64
HBA_MALE                        int64
HBA_FEMALE                      int64
HIA_MALE                        int64
HIA_FEMALE                      int64
HAA_MALE                        int64
HAA_FEMALE                      int64
HNA_MALE                        int64
HNA_FEMALE                      int64
HTOM_MALE                       int64
HTOM_FEMALE                     int64
HWAC_MALE                       int64
HWAC_FEMALE                     int64
HBAC_MALE                       int64
HBAC_FEMALE                     int64
HIAC_MALE                       int64
HIAC_FEMALE                     int64
HAAC_MALE                       int64
HAAC_FEMALE                     int64
HNAC_MALE                       int64
HNAC_FEMALE                     int64
County+State                    object
Disaster Number                 float64
IH Program Declared             object
IA Program Declared             object
PA Program Declared             object
HM Program Declared             object
State                           object
Declaration Date                object
Disaster Type                   object
Incident Type                   object
Title                           object
Incident Begin Date             object
Incident End Date               object
Disaster Close Out Date         object
Place Code                      float64
Declared County/Area            object
Declaration Request Number      float64
Declared County/Area Cleaned    object
dtypes: float64(3), int64(79), object(17)
memory usage: 6.2+ GB

In [56]:
fema.dtypes

Disaster Number                      float64
IH Program Declared                   object
IA Program Declared                   object
PA Program Declared                   object
HM Program Declared                   object
State                                 object
Declaration Date                      object
Disaster Type                         object
Incident Type                         object
Title                                 object
Incident Begin Date                   object
Incident End Date                     object
Place Code                           float64
Declared County/Area                  object
Declaration Request Number           float64
Incident Duration Days                object
time                          datetime64[ns]
dtype: object

In [57]:
qwi.dtypes

EarnBeg                float64
EarnHirAS              float64
EarnHirNS              float64
EarnS                  float64
EarnSepS               float64
Emp                    float64
EmpEnd                 float64
EmpS                   float64
EmpSpv                 float64
EmpTotal               float64
FrmJbC                 float64
FrmJbCS                float64
FrmJbGn                float64
FrmJbGnS               float64
FrmJbLs                float64
FrmJbLsS               float64
HirA                   float64
HirAEnd                float64
HirAEndR               float64
HirAEndRepl            float64
HirAEndReplr           float64
HirAs                  float64
Payroll                  int64
Unnamed: 0.1           float64
county                   int64
county_codes            object
county_name             object
state                    int64
state_abv               object
time            datetime64[ns]
dtype: object

In [59]:
qwi["qtime"] = pd.PeriodIndex(qwi["time"] , freq='Q')
fema["qtime"] = pd.PeriodIndex(fema["time"] , freq='Q')

In [62]:
qwi.dtypes

EarnBeg                float64
EarnHirAS              float64
EarnHirNS              float64
EarnS                  float64
EarnSepS               float64
Emp                    float64
EmpEnd                 float64
EmpS                   float64
EmpSpv                 float64
EmpTotal               float64
FrmJbC                 float64
FrmJbCS                float64
FrmJbGn                float64
FrmJbGnS               float64
FrmJbLs                float64
FrmJbLsS               float64
HirA                   float64
HirAEnd                float64
HirAEndR               float64
HirAEndRepl            float64
HirAEndReplr           float64
HirAs                  float64
Payroll                  int64
Unnamed: 0.1           float64
county                   int64
county_codes            object
county_name             object
state                    int64
state_abv               object
time            datetime64[ns]
qtime                   object
dtype: object

In [64]:
fema.dtypes

Disaster Number                      float64
IH Program Declared                   object
IA Program Declared                   object
PA Program Declared                   object
HM Program Declared                   object
State                                 object
Declaration Date                      object
Disaster Type                         object
Incident Type                         object
Title                                 object
Incident Begin Date                   object
Incident End Date                     object
Place Code                           float64
Declared County/Area                  object
Declaration Request Number           float64
Incident Duration Days                object
time                          datetime64[ns]
qtime                                 object
dtype: object

In [91]:
qwi.reset_index(level=0, inplace=True)

In [93]:
qwi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189372 entries, 0 to 189371
Data columns (total 31 columns):
county_name     189372 non-null object
qtime           189372 non-null object
state_abv       189372 non-null object
EarnBeg         189175 non-null float64
EarnHirAS       185656 non-null float64
EarnHirNS       185000 non-null float64
EarnS           185973 non-null float64
EarnSepS        182637 non-null float64
Emp             189014 non-null float64
EmpEnd          185979 non-null float64
EmpS            185892 non-null float64
EmpSpv          188926 non-null float64
EmpTotal        189067 non-null float64
FrmJbC          185823 non-null float64
FrmJbCS         185757 non-null float64
FrmJbGn         185823 non-null float64
FrmJbGnS        185757 non-null float64
FrmJbLs         185823 non-null float64
FrmJbLsS        185757 non-null float64
HirA            189012 non-null float64
HirAEnd         185853 non-null float64
HirAEndR        185783 non-null float64
HirAEndRepl     185818 non-null float64
HirAEndReplr    185780 non-null float64
HirAs           185685 non-null float64
Payroll         189372 non-null int64
Unnamed: 0.1    19140 non-null float64
county          189372 non-null int64
county_codes    189372 non-null object
state           189372 non-null int64
time            189372 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(23), int64(3), object(4)
memory usage: 44.8+ MB

In [132]:
fema.reset_index(level=0, inplace=True)

In [133]:
fema.head()

,qtime,state_abv,county,Disaster Number,IH Program Declared,IA Program Declared,PA Program Declared,HM Program Declared,Declaration Date,Disaster Type,Incident Type,Title,Incident Begin Date,Incident End Date,Place Code,Declaration Request Number,Incident Duration Days,time
0,2018Q4,VA,Danville,4411.0,No,No,Yes,Yes,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,21344.0,18134.0,7 days 00:00:00.000000000,2018-10-09
1,2018Q4,VA,Galax,4411.0,No,No,Yes,Yes,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,30208.0,18134.0,7 days 00:00:00.000000000,2018-10-09
2,2018Q4,VA,Amelia (County),4411.0,No,No,Yes,Yes,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99007.0,18134.0,7 days 00:00:00.000000000,2018-10-09
3,2018Q4,VA,Appomattox (County),4411.0,No,No,Yes,Yes,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99011.0,18134.0,7 days 00:00:00.000000000,2018-10-09
4,2018Q4,VA,Brunswick (County),4411.0,No,No,Yes,Yes,12/18/2018,DR,Hurricane,TROPICAL STORM MICHAEL,2018-10-09,2018-10-16,99025.0,18134.0,7 days 00:00:00.000000000,2018-10-09

In [124]:
qwi.head()

,qtime,county,state_abv,county_name,EarnBeg,EarnHirAS,EarnHirNS,EarnS,EarnSepS,Emp,...,HirAEnd,HirAEndR,HirAEndRepl,HirAEndReplr,HirAs,Payroll,Unnamed: 0.1,county_codes,state,time
0,2003Q1,13,AK,Aleutians East Borough,1744.0,NaN,NaN,1744.0,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,5370,NaN,2:13,2,2003-01-01
1,2003Q1,16,AK,Aleutians West Census Area,14499.0,NaN,NaN,16262.0,4647.0,14.0,...,0.0,0.000,0.0,0.000,0.0,570042,NaN,2:16,2,2003-01-01
2,2003Q1,20,AK,Anchorage Municipality,1863.0,1455.0,1672.0,2134.0,1966.0,133.0,...,36.0,0.265,21.0,0.154,12.0,875806,NaN,2:20,2,2003-01-01
3,2003Q1,50,AK,Bethel Census Area,4917.0,8740.0,NaN,8740.0,8740.0,NaN,...,NaN,NaN,NaN,NaN,NaN,89678,NaN,2:50,2,2003-01-01
4,2003Q1,70,AK,Dillingham Census Area,3234.0,NaN,NaN,3234.0,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,9955,NaN,2:70,2,2003-01-01

In [134]:
fema.rename(columns={"county":"county_name"}, inplace=True)

In [135]:
fema.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25664 entries, 0 to 25663
Data columns (total 18 columns):
qtime                         25664 non-null object
state_abv                     25664 non-null object
county_name                   25664 non-null object
Disaster Number               25664 non-null float64
IH Program Declared           25664 non-null object
IA Program Declared           25664 non-null object
PA Program Declared           25664 non-null object
HM Program Declared           25664 non-null object
Declaration Date              25664 non-null object
Disaster Type                 25664 non-null object
Incident Type                 25664 non-null object
Title                         25664 non-null object
Incident Begin Date           25664 non-null object
Incident End Date             25513 non-null object
Place Code                    25664 non-null float64
Declaration Request Number    25664 non-null float64
Incident Duration Days        25513 non-null object
time                          25664 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(14)
memory usage: 3.5+ MB

In [136]:
qwi.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 189372 entries, (AK, Aleutians East Borough, 2003Q1) to (TX, Zavala County, 2017Q4)
Data columns (total 28 columns):
county          189372 non-null int64
EarnBeg         189175 non-null float64
EarnHirAS       185656 non-null float64
EarnHirNS       185000 non-null float64
EarnS           185973 non-null float64
EarnSepS        182637 non-null float64
Emp             189014 non-null float64
EmpEnd          185979 non-null float64
EmpS            185892 non-null float64
EmpSpv          188926 non-null float64
EmpTotal        189067 non-null float64
FrmJbC          185823 non-null float64
FrmJbCS         185757 non-null float64
FrmJbGn         185823 non-null float64
FrmJbGnS        185757 non-null float64
FrmJbLs         185823 non-null float64
FrmJbLsS        185757 non-null float64
HirA            189012 non-null float64
HirAEnd         185853 non-null float64
HirAEndR        185783 non-null float64
HirAEndRepl     185818 non-null float64
HirAEndReplr    185780 non-null float64
HirAs           185685 non-null float64
Payroll         189372 non-null int64
Unnamed: 0.1    19140 non-null float64
county_codes    189372 non-null object
state           189372 non-null int64
time            189372 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(23), int64(3), object(1)
memory usage: 41.2+ MB

In [ ]:
fema["county_name"]=fema["county_name"].str.replace(r"[()]","")

In [157]:
fema.set_index(["state_abv", "county_name", "qtime"], inplace=True)

In [158]:
qwi.set_index(["state_abv", "county_name", "qtime"], inplace=True)

In [173]:
fema_qwi_data = pd.merge(qwi, fema, how="outer", left_index=True, right_index=True)

In [174]:
fema_qwi_data.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 195719 entries, (AK, Alaska Gateway Regional Educational Attendance Area, 2009Q2) to (WY, Wind River Indian Reservation, 2011Q2)
Data columns (total 43 columns):
county                        193457 non-null float64
EarnBeg                       193260 non-null float64
EarnHirAS                     189737 non-null float64
EarnHirNS                     189081 non-null float64
EarnS                         190054 non-null float64
EarnSepS                      186468 non-null float64
Emp                           193099 non-null float64
EmpEnd                        190060 non-null float64
EmpS                          189973 non-null float64
EmpSpv                        193011 non-null float64
EmpTotal                      193152 non-null float64
FrmJbC                        189904 non-null float64
FrmJbCS                       189838 non-null float64
FrmJbGn                       189904 non-null float64
FrmJbGnS                      189838 non-null float64
FrmJbLs                       189904 non-null float64
FrmJbLsS                      189838 non-null float64
HirA                          193097 non-null float64
HirAEnd                       189934 non-null float64
HirAEndR                      189864 non-null float64
HirAEndRepl                   189899 non-null float64
HirAEndReplr                  189861 non-null float64
HirAs                         189763 non-null float64
Payroll                       193457 non-null float64
Unnamed: 0.1                  20234 non-null float64
county_codes                  193457 non-null object
state                         193457 non-null float64
time_x                        193457 non-null datetime64[ns]
Disaster Number               25693 non-null float64
IH Program Declared           25693 non-null object
IA Program Declared           25693 non-null object
PA Program Declared           25693 non-null object
HM Program Declared           25693 non-null object
Declaration Date              25693 non-null object
Disaster Type                 25693 non-null object
Incident Type                 25693 non-null object
Title                         25693 non-null object
Incident Begin Date           25693 non-null object
Incident End Date             25542 non-null object
Place Code                    25693 non-null float64
Declaration Request Number    25693 non-null float64
Incident Duration Days        25542 non-null object
time_y                        25693 non-null datetime64[ns]
dtypes: datetime64[ns](2), float64(29), object(12)
memory usage: 65.0+ MB

In [178]:
fema_qwi_data.reset_index(inplace=True)

In [179]:
fema_qwi_data.head()

,state_abv,county_name,qtime,county,EarnBeg,EarnHirAS,EarnHirNS,EarnS,EarnSepS,Emp,...,Declaration Date,Disaster Type,Incident Type,Title,Incident Begin Date,Incident End Date,Place Code,Declaration Request Number,Incident Duration Days,time_y
0,AK,Alaska Gateway Regional Educational Attendance...,2009Q2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6/11/2009,DR,Flood,FLOODING AND ICE JAMS,2009-04-28,2009-05-31,1255.0,9077.0,33 days 00:00:00.000000000,2009-04-28
1,AK,Alaska Gateway Regional Educational Attendance...,2012Q3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11/27/2012,DR,Severe Storm(s),"SEVERE STORM, STRAIGHT-LINE WINDS, FLOODING, A...",2012-09-15,2012-09-30,1255.0,12124.0,15 days 00:00:00.000000000,2012-09-15
2,AK,Alaska Gateway Regional Educational Attendance...,2013Q2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6/25/2013,DR,Flood,FLOODING,2013-05-17,2013-06-11,1255.0,13035.0,25 days 00:00:00.000000000,2013-05-17
3,AK,Aleutians East Borough,2003Q1,13.0,1744.0,NaN,NaN,1744.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4,AK,Aleutians East Borough,2003Q1,13.0,2210.0,1293.0,1443.0,2307.0,1775.0,744.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [180]:
fema_qwi_data.to_csv("fema_qwi_data")